  <header class="site-header header-style-1 ">
    <div class="top-bar bg-secondry">
      <div class="">
        <div class="row">
          <div class="wt-topbar-left clearfix">
            <ul class="list-unstyled top-link e-p-bx">
              <li><a target="_blank" tabindex="0" href="javascript:void(0)" title="भारत सरकार"
                  rel="noopener noreferrer"> भारत सरकार </a></li>
              <li><a target="_blank" href="javascript:void(0)" title="Government of India"
                  rel="noopener noreferrer">GOVERNMENT OF INDIA</a></li>
            </ul>
          </div>
          <div class="wt-topbar-right clearfix">
            <ul class="social-bx list-inline pull-left">
              <li>
                <a href="#main-content">Skip to Main Content</a>
              </li>
              <li class="themeoption">
                <a href="javascript:void(0)" class="theme"><img
                    src="https://morth.nic.in/sites/all/themes/morth/images/bluetheme.png" alt="Blue Theme"></a>
                <a href="javascript:void(0)" class="theme"><img
                    src="https://morth.nic.in/sites/all/themes/morth/images/orangetheme.png" alt="Orange Theme"></a>
                <a href="javascript:void(0)" class="theme"><img
                    src="https://morth.nic.in/sites/all/themes/morth/images/redtheme.png" alt="Red Theme"></a>
              </li>
              <li class="textsize dropdown">
                <a href="javascript:void(0);" title="Accessibility">
                  <img class="top" src="https://morth.nic.in/sites/all/themes/morth/images/ico-accessibility.png"
                    alt="Accessibility">
                </a>
                <ul class="dropdown-menu">
                  <li><a href="javascript:void(0);" title="Text Size Increase/Decrease"
                      onclick="fontIncrease();">T<sup>+</sup></a></li>
                  <li><a href="javascript:void(0);" title="Text Size Increase/Decrease" onclick="fontNormal();">T</a></li>
                  <li><a href="javascript:void(0);" title="Text Size Increase/Decrease"
                      onclick="fontDecrease();">T<sup>-</sup></a></li>
                </ul>
              </li>
              <li class="socialmedia dropdown">
                <a href="javascript:void(0);" title="Social Media"><img class="top"
                    src="https://morth.nic.in/sites/all/themes/morth/images/ico-social.png" alt="Social Media"></a>
                <ul class="dropdown-menu">
                  <li>
                    <a target="_blank" title="
  MoRTH facebook" href="javascript:void(0)" rel="noopener noreferrer"><img alt="Facebook Page"
                        src="https://morth.nic.in/sites/all/themes/morth/images/ico-facebook.png"></a>
                  </li>
                  <li>
                    <a target="_blank" title="MoRTH twitter" href="javascript:void(0)"
                      rel="noopener noreferrer"><img alt="Twitter Page"
                        src="https://morth.nic.in/sites/all/themes/morth/images/ico-twitter.png"></a>
                  </li>
                  <li>
                    <a target="_blank" title="MoRTH Youtube"
                      href="javascript:void(0)" rel="noopener noreferrer"><img
                        alt="YouTube Channel" src="https://morth.nic.in/sites/all/themes/morth/images/ico-youtbe.png"></a>
                  </li>
                  <li>
                    <a target="_blank" title="MoRTH blog" href="javascript:void(0)"
                      rel="noopener noreferrer"><img alt="Twitter Page"
                        src="https://morth.nic.in/sites/all/themes/morth/images/ico-blog.png"></a>
                  </li>
                  <li>
                    <a target="_blank" title="MoRTH instagram" href="javascript:void(0)"
                      rel="noopener noreferrer"><img alt="Twitter Page"
                        src="https://morth.nic.in/sites/all/themes/morth/images/ico-instagram.png"></a>
                  </li>
                </ul>
              </li>
              <li><a href="javascript:void(0)" title="Sitemap"><i class="fa fa-sitemap"
                    aria-hidden="true"></i></a></li>
              <li class="lang dropdown">
                <a href="javascript:void(0);">Language</a>
                <ul class="dropdown-menu">
                  <li><a href="/">English</a></li>
                  <!-- <li><a href="https://morth.nic.in/hi" class="language-link">हिन्दी</a></li> -->
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="main-bar header-middle bg-white">
      <div class="">
        <div class="logo-header">
          <a href="javascript:void(0)">
            <div class="logo">
              <img class="national_emblem" src="../../../assets/images/logo.png" alt="national emblem">
              <div class="logo-text-line">
                <span class="logo-hind">सड़क परिवहन और राजमार्ग मंत्रालय</span><span class="logo-eng">Ministry of Road
                  Transport and Highways</span>
                  <span class="logo-eng" style="line-height: 30px;">Grant Management System</span>
              </div>
            </div>
          </a>
        </div>
        <div class="header-info">
          <ul style="padding-left: 0;">
            <li>
              <a class="btn btn-primary" style="color: white !important; width: 100px;height: 65px;"  [routerLink]="'innovation-lab'" target="_blank">
                <p style="margin: 0;">Innovation</p> <p> Lab</p> 
              </a>
            </li>
            <!-- <li >
              <a [routerLink]="'analytic/analytic-home'" target="_blank" rel="noopener noreferrer">
                <img style="height: 70px; width: 150px;" title="analytic" src="../../../assets/images/grievance.png"></a>
            </li> -->
            <li *ngIf="loginUser=='morth_manager'">
              <a [routerLink]="'analytic/analytic-home'" target="_blank" rel="noopener noreferrer">
                <img style="height: 70px; width: 150px;" title="analytic" src="../../../assets/images/analytics-dashboard.png"></a>
            </li>
            <!-- <li>
              <a [routerLink]="'dashboard-analytic'" target="_blank" rel="noopener noreferrer">
                <img style="height: 70px; width: 70px;" title="dashboard" src="../../../assets/images/dashboard2.png"></a>
            </li> -->
            <li>
              <a target="_blank" href="http://gandhi.gov.in/" rel="noopener noreferrer"><img
                  title="Mahatma Gandhi 150th birth anniversary, External Link that opens in a new window"
                  src="https://morth.nic.in/sites/all/themes/morth/images/gandhilogo.jpg"></a>
            </li>
            <li>
              <a target="_blank" href="javascript:void(0)" rel="noopener noreferrer"><img
                  title="Swachh Bharat, External Link that opens in a new window"
                  src="https://morth.nic.in/sites/all/themes/morth/images/swach-bharat.png"></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="sticky-wrapper" [ngStyle]="{'height': isSticky ? '49px' : '' }">
      <div class="sticky-header main-bar-wraper color-fill" [ngClass]="{'mat-elevation-z5' : true, 'sticky' : isSticky}">
        <div class="main-bar header-botton nav-bg-secondry">
          <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

              <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 nav-ul">
                <li *ngIf="isLoggedIn=='true'"><a [routerLink]="['/dashboard']" class="nav-link px-2 link-dark">Home</a></li>
                <li *ngIf="isLoggedIn!=='true'"><a [routerLink]="['/']" class="nav-link px-2 link-dark">Home</a></li>
                <li *ngIf="isLoggedIn!=='true'"><a [routerLink]="['']" class="nav-link px-2 link-dark">Greivance Redressal System</a></li>
                <li *ngIf="isLoggedIn!=='true' && currentUrl =='/innovation-lab'"><a [routerLink]="['dashboard-analytic']" class="nav-link px-2 link-dark">My Dashboard</a></li>
                <!-- <li><a href="#" class="nav-link px-2 link-dark">About us</a></li>
                    <li><a href="#" class="nav-link px-2 link-dark">Contact us</a></li> -->
                <li *ngIf="isLoggedIn=='true' && (loginUser=='state_officer' || loginUser=='state_manager')">
                  <div class="dropdown">
                    <a class=" nav-link px-2 link-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                      data-bs-toggle="dropdown" aria-expanded="false">
                      Annual Action Plans
                    </a>
    
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      <li><a class="dropdown-item">Create New</a></li>
                      <li><a class="dropdown-item">Past Plans</a></li>
                    </ul>
                  </div>
                </li>
                <li *ngIf="isLoggedIn=='true' && (loginUser=='iva' || loginUser=='morth_manager')">
                  <div class="dropdown">
                    <a class=" nav-link px-2 link-dark dropdown-toggle" href="javascript:void(0)" role="button"
                      id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                      Worklist
                    </a>
    
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      <li><a class="dropdown-item">Action Plan Approval</a></li>
                      <li><a class="dropdown-item" [routerLink]="['/proposal-list']">Proposal Approval</a></li>
                      <li><a class="dropdown-item">Disbursement Approval</a></li>
                    </ul>
                  </div>
                </li>
                <li *ngIf="isLoggedIn=='true' && (loginUser=='iva' || loginUser=='morth_manager')">
                  <div class="dropdown">
                    <a class=" nav-link px-2 link-dark dropdown-toggle" href="javascript:void(0)" role="button"
                      id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    Fund Management
                    </a>
    
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      
                    </ul>
                  </div>
                </li>
                <li *ngIf="isLoggedIn=='true' && (loginUser=='iva' || loginUser=='morth_manager')">
                  <div class="dropdown">
                    <a class=" nav-link px-2 link-dark dropdown-toggle" href="javascript:void(0)" role="button"
                      id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                      Reports
                    </a>
    
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      <!-- <li><a class="dropdown-item" >Action Plan Approval</a></li>
                      <li><a class="dropdown-item">Proposal Approval</a></li>
                      <li><a class="dropdown-item">Disbursement Approval</a></li> -->
                    </ul>
                  </div>
                </li>
    
                <li *ngIf="isLoggedIn=='true' && (loginUser=='state_officer' || loginUser=='state_manager')">
                  <div class="dropdown">
                    <a class=" nav-link px-2 link-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                      data-bs-toggle="dropdown" aria-expanded="false">
                      Proposal
                    </a>
    
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      <li><a class="dropdown-item" [routerLink]="['/new-proposal']"
                          *ngIf="loginUser!='iva' || loginUser!='morth_manager'">New proposal</a></li>
                      <li><a class="dropdown-item" *ngIf="loginUser!='state_officer'" [routerLink]="['/proposal-list']">View
                          proposal</a></li>
                    </ul>
                  </div>
                </li>
    
                <li *ngIf="isLoggedIn=='true' && (loginUser=='state_officer' || loginUser=='state_manager')">
                  <div class="dropdown">
                    <a class=" nav-link px-2 link-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                      data-bs-toggle="dropdown" aria-expanded="false">
                      Disbursement
                    </a>
    
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      <!-- <li><a class="dropdown-item">Manage vendor</a></li>
                      <li><a class="dropdown-item">View vendor</a></li> -->
                    </ul>
                  </div>
                </li>
                <li *ngIf="isLoggedIn=='true'">
                  <div class="dropdown">
                    <a class=" nav-link px-2 link-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                      data-bs-toggle="dropdown" aria-expanded="false">
                      Queries
                    </a>
    
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      <!-- <li><a class="dropdown-item">Manage fund</a></li>
                      <li><a class="dropdown-item">View history</a></li> -->
                    </ul>
                  </div>
                </li>
                <!-- <li *ngIf="isLoggedIn=='true'">
                        <div class="">
                            <a class=" nav-link px-2 link-dark" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                State: Bihar
                            </a>
                          </div>
                      </li> -->
              </ul>
              <div *ngIf="loginUser=='state_officer' || loginUser=='state_manager'">
                <a class=" nav-link px-2 link-dark" style="color: white; font-size: 20px;" href="#" role="button"
                  id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                  {{loginUserName}} | Bihar
                </a>
              </div>
              <div *ngIf="loginUser=='morth_manager'|| loginUser=='iva'">
                <a class=" nav-link px-2 link-dark" style="color: white; font-size: 20px;" href="#" role="button"
                  id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                  {{loginUserName}}
                </a>
              </div>
    
              <div class="dropdown text-end" *ngIf="isLoggedIn=='true'">
                <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1"
                  data-bs-toggle="dropdown" aria-expanded="true">
                  <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
                </a>
                <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1" data-popper-placement="bottom-start"
                  style="position: absolute; inset: 0px auto auto 0px; margin: 7px; transform: translate(-36px, 34px);">
                  <li><a class="dropdown-item" href="javascript:void(0)">{{loginUserName}}</a></li>
                  <li><a class="dropdown-item" href="#">Settings</a></li>
                  <li><a class="dropdown-item" href="#">Profile</a></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" href="javascript:void(0)" (click)="onLogOut()">Sign out</a></li>
                </ul>
              </div>
              <div class="" *ngIf="isLoggedIn=='true'" style="margin-left: 10px; cursor: pointer;" (click)="onClickBell()">
                <i class="fa fa-bell" aria-hidden="true"></i>
              </div>
              <div class="grant-mng-sys1" *ngIf="isLoggedIn=='false'">
                <!-- Grant Management System  -->
                <a href="javascript:void(0)" class="btn btn-primary" [routerLink]="'login'">
                  Login
                </a>
    
              </div>
            </div>
            <div class="modal fade" id="mySearch" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-body">
                    <div class="region region-search-box">
                      <div id="block-search-form" class="block block-search">
  
  
                        <div class="content">
                          <form action="/about-highways" method="post" id="search-block-form" accept-charset="UTF-8">
                            <div>
                              <div class="container-inline">
                                <h2 class="element-invisible">Search form</h2>
                                <div class="form-item form-type-textfield form-item-search-block-form">
                                  <label class="element-invisible" for="edit-search-block-form--2">Search </label>
                                  <input type="text" id="edit-search-block-form--2" name="search_block_form" value=""
                                    size="15" maxlength="128" class="form-text" placeholder="Type to search">
                                </div>
                                <div class="form-actions form-wrapper" id="edit-actions"><input type="submit"
                                    id="edit-submit" name="op" value="Search" class="form-submit"></div><input
                                  type="hidden" name="form_build_id"
                                  value="form-FpfyHyjkIPScyHnBhU1r268E__5qNLHUuzEu1MHS60c">
                                <input type="hidden" name="form_id" value="search_block_form">
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>