<div style="padding: 80px;">
    <div class="sub-header">
        <h5 *ngIf="currentUrl == '/new-proposal'">New Proposal</h5>
        <h5 *ngIf="currentUrl != '/new-proposal'">Edit Proposal</h5>
    </div>
    <form class="row g-3" [formGroup]="proposalForm">
        <div class="col-md-12">
          <label for="purpose" class="form-label">Purpose <span class="asterisk">*</span></label>
          <textarea formControlName="purpose" class="form-control" id="purpose" [readonly]="isReadOnly"></textarea>
          <div *ngIf="submitted && f.purpose.errors" class="not-valid">
            <div *ngIf="f.purpose.errors.required">Purpose is required</div>
          </div>
        </div>
        
        <div class="col-md-6">
          <label for="fundType" class="form-label">Fund Type <span class="asterisk">*</span></label>
          <select formControlName="fundType" class="form-select" name="fundType" id="fundType" [disabled]="isReadOnly">
            <option value="">Choose...</option>
            <option value="Road Engineering fund">Road Engineering fund</option>
            <option value="Vehicle safety & Driver training fund">Vehicle safety & Driver training fund</option>
            <option value="Enforcement Fund">Enforcement Fund</option>
            <option value="Post crash care fund">Post crash care fund</option>
          </select>
          <div *ngIf="submitted && f.fundType.errors" class="not-valid">
            <div *ngIf="f.fundType.errors.required">Fund Type is required</div>
          </div>
        </div>
        <div class="col-6">
          <label for="estimatedAmount" class="form-label">Estimated Amount<span class="asterisk">*</span></label>
          <input formControlName="estimatedAmount" type="text" class="form-control" id="estimatedAmount" placeholder="Estimated Amount ...." [readonly]="isReadOnly" required>
          <div *ngIf="submitted && f.estimatedAmount.errors" class="not-valid">
            <div *ngIf="f.estimatedAmount.errors.required">Estimated Amount is required</div>
          </div>
        </div>
        <div class="col-6">
          <label for="startDate" class="form-label">Start Date<span class="asterisk">*</span></label>
          <input formControlName="startDate" type="date" class="form-control" id="startDate" placeholder="Start Date" [readonly]="isReadOnly" required>
          <div *ngIf="submitted && f.startDate.errors" class="not-valid">
            <div *ngIf="f.startDate.errors.required">Start Date is required</div>
          </div>
        </div>
        <div class="col-6">
          <label for="endDate" class="form-label">End Date<span class="asterisk">*</span></label>
          <input formControlName="endDate" type="date" class="form-control" id="endDate" placeholder="End Date" [readonly]="isReadOnly" required>
          <div *ngIf="submitted && f.endDate.errors" class="not-valid">
            <div *ngIf="f.endDate.errors.required">End Date is required</div>
          </div>
        </div>
        <div>
          <div class="add-btn">
            <label class="form-label">Proposal Milestone</label>
            <span *ngIf="loginUser=='state_officer'">
              <button class="btn btn-secondary" (click)="AddRows()">Add</button>
            </span>
          </div>
          <div>
            <ag-grid-angular 
            style="width: 100%; height: 200px;" 
            class="ag-theme-balham"
            [rowData]="rowData" 
            [columnDefs]="columnDefs"
            [defaultColDef]="defaultColDef"
            [enableSorting]="true" [animateRows]="true" [pagination]="true" [paginationPageSize]="10"   
            [animateRows]="true" (gridReady)="onGridReady($event)" [editType]="editType"
            (cellValueChanged)="onCellValueChanged($event)"
            (rowValueChanged)="onRowValueChanged($event)"
            (cellClicked)="onCellClicked($event)"
            [frameworkComponents]="frameworkComponents"
            suppressClickEdit>
          </ag-grid-angular>
          </div>
        </div>
        <div *ngIf="loginUser !='state_officer'">
          <div class="add-btn">
            <label class="form-label">Proposal Category</label>
          </div>

          <table class="table" *ngIf="categoryData">
            <thead>
              <tr>
                <th scope="col">Category</th>
                <th scope="col">Uploaded File</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let category of categoryData">
                
                <td>{{category.category}}</td>
                <td>{{category.file_name}} <i class="fa fa-download" (click)="onDownloadFile(category.fileSource, category.file_name)"></i></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div *ngIf="loginUser =='state_officer'">
          
          <app-file-upload (onCategoryPicked)="getCategrory($event)"></app-file-upload>
          <!-- <div class="row">
            <div class="col-md-6">
              <label for="category" class="form-label">Category <span class="asterisk">*</span></label>
              <select formControlName="category" class="form-select" name="category" id="category" [disabled]="isReadOnly">
                <option selected>Choose...</option>
                <option value="Contract document">Contract document</option>
                <option value="Bidding document">Bidding document</option>
                <option value="Training document">Training document</option>
                <option value="Progress report">Progress report</option>
                <option value="Planning/recommendation document">Planning/recommendation document</option>
              </select>
              <div *ngIf="submitted && f.category.errors" class="not-valid">
                <div *ngIf="f.category.errors.required">Category is required</div>
              </div>
            </div>
            <div class="col-6">
              <label for="upload" class="form-label">Upload <span class="asterisk">*</span></label>
              <input formControlName="upload" type="file" id="upload" [disabled]="isReadOnly" [readonly]="isReadOnly" (change)="onFileChange($event)" class="form-control" id="customFile" />
              <span *ngIf="isDownloadIconShow" class="download-proposal-icon" (click)="onDownloadFile()"> <i class="fa fa-download"></i> </span>
              <div *ngIf="submitted && f.upload.errors" class="not-valid">
                <div *ngIf="f.upload.errors.required">Upload is required</div>
              </div>
            </div>
          </div> -->
          
        </div>
        
        <div class="col-6">
          <label for="remarks" class="form-label">Remarks</label>
          <input formControlName="remarks" type="text" class="form-control" id="remarks" placeholder="Remarks ....">
        </div>
        <div class="col-md-6">
          <div  *ngIf="loginUser!='morth_manager'">
            <label for="sentto" class="form-label">Sent to <span class="asterisk">*</span></label>
            <select formControlName="sentTo" class="form-select" name="sentto" id="sentto">
              <!-- <option value="" selected>Choose...</option> -->
              <option *ngIf="loginUser=='state_officer'" value="State transport manager" selected>State transport manager</option>
              <option *ngIf="loginUser=='state_manager'" value="IVA" selected>IVA</option>
              <option *ngIf="loginUser=='iva'" value="MoRTH Manager" selected>MoRTH Manager</option>
            </select>
            <div *ngIf="submitted && f.sentTo.errors" class="not-valid">
              <div *ngIf="f.sentTo.errors.required">Sent To is required</div>
            </div>
          </div>
          
        </div>
        <div class="d-flex gap-2 col-2 mx-auto">
          <button class="btn btn-primary" type="button" *ngIf="loginUser=='state_officer' || currentUrl == '/new-proposal'" (click)="submit()">Submit</button>
          <button class="btn btn-warning" type="button" *ngIf="loginUser=='state_officer' || currentUrl == '/new-proposal'">Save as draft</button>
          <button class="btn btn-success" type="button" *ngIf="loginUser=='morth_manager' && currentUrl != '/new-proposal' " (click)="onApproveByMorthManager()">Approve</button>
          <button class="btn btn-success" type="button" *ngIf="loginUser=='state_manager' && currentUrl != '/new-proposal'" (click)="onSendToIVA()">Sent to IVA</button>
          <button class="btn btn-success" type="button" *ngIf="loginUser=='iva' && currentUrl != '/new-proposal'" (click)="onSendToMorthManager()">Sent to Morth Manager</button>
          <button class="btn btn-warning" type="button" *ngIf="(loginUser=='state_manager' || loginUser=='morth_manager' || loginUser=='iva') && currentUrl != '/new-proposal' ">Send for modification</button>
          <button class="btn btn-danger" type="button"  *ngIf="(loginUser=='state_manager' || loginUser=='morth_manager') && currentUrl != '/new-proposal'">Reject</button>
          <button class="btn btn-secondary" type="button" (click)="onCancel()">Cancel</button>
        </div>
        
        <!-- <div class="col-12">
          <button type="submit" class="btn btn-primary" style="float: right;">Submit</button>
        </div> -->
      </form>
</div>
