.download-proposal-icon {
    float: right;
    position: relative;
    top: -31px;
    right: 10px;
    color: chocolate;
}
.download-proposal-icon2 {
    color: chocolate;
    cursor: pointer;
}
.asterisk {
    color: red;
}
.add-btn {
    padding-bottom: 10px;
}
.add-btn span{
    float: right;
}