
<div style="padding: 80px;">
  <!-- <div class="spinner-border loading" style="width: 3rem; height: 3rem;" role="status" *ngIf="isLoading">
    <span class="sr-only">Loading...</span>
  </div> -->
  <app-loader *ngIf="isLoading"></app-loader>
    <div class="sub-header">
        <h5>Proposal List</h5>
    </div>
    <div *ngIf="proposalList && proposalList.length>0">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Proposal number</th>
                <th scope="col">Purpose</th>
                <th scope="col">Submitted on</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let proposal of proposalList; let i = index">
                <th scope="row">#{{proposal.id}}</th>
                <td>{{proposal.purpose}}</td>
                <td>{{proposal.submittedOn}}</td>
                <td>{{proposal.status}}</td>
                <td>
                  <button class="btn btn-primary" (click)="onView(proposal)">View</button>
                  <button style="margin-left: 5px;" *ngIf="loginUser=='morth_manager'" class="btn btn-warning" (click)="onCheckFundAvailability(i)">Check Fund Availability</button>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
</div>
