<div style="width: 100%;">
    <button type="button" *ngIf="isNew == true" (click) = "onEditClick()" data-action-type="view" class="btn btn-secondary row-btn">
        Edit
      </button>
    
      <button type="button"  *ngIf="isNew == false" (click) = "onUpdateClick()" data-action-type="view" class="btn btn-success row-btn">
        Update
      </button>
    
      <button type="button" *ngIf="isNew == false" (click) = "onCancelClick()" data-action-type="view" class="btn btn-warning row-btn">
        Cancel
      </button>
    
     <button type="button"  *ngIf="isNew == true" (click) = "onDeleteClick()" data-action-type="remove" class="btn btn-danger row-btn">
        Delete
     </button>
</div>

