.dashboard-card {
    box-shadow: 0px 0px 5px 0px;
    
}
.card-under-process {
    background-color: yellowgreen;
}
.card-approved {
    background-color: aquamarine;
}
.card-under-approval {
    background-color: yellow;
}