.dashboard-card {
    box-shadow: 0px 0px 5px 0px;
    
}
.card-under-process {
    background-color: yellowgreen;
}
.card-approved {
    background-color: aquamarine;
}
.card-under-approval {
    background-color: yellow;
}
.card-body-d {
    height: 200px;
}

.card-text {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.card-text-dash {
    font-size: 16px;
    /* font-weight: 600; */
    color: black;
    text-align: center;
    margin: 0;
}
.small-box-dash .inner {
    text-align: center;
}

.top-das {
    display: inline-flex;
    box-shadow: 0px 0px 5px 0px grey;
    background: white;
    border-radius: 10px;
    padding: 10px;
    width: 97%;
    margin-left: 20px;
  }
  .proposal-val {
    position: absolute;
    bottom: 10px;
    left: 35%;
  }
  .demo-chart1 {
    height: 270px;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 0px grey;
    background: #ebdfc2ab;
  }