/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{

background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}
.container{
    height: 100%;
    align-content: center;
}
.not-valid {
    color: red;
}
.sub-header {
    background: #8080805c;
    text-align: center;
    padding: 8px;
}
.btn-primary {
    background-color: green !important;
}
.btn-primary:hover {
    background-color: rgb(55, 0, 128) !important;
}
    