 .chart-containt{
    box-shadow: 0px 0px 5px 0px grey;  border-radius: 10px;
 }
  .chart-containt1{
    background: #b4ea8357
  }
  .chart-containt2{
    background: #a3ece557
  }
  .chart-containt3{
    background: #c1b9e655
  }
  .chart-containt4{
    background: #ffe9bf57
  }
  .chart-containt5{
    background: #dedcb057
  }
 