<!-- <canvas baseChart
    [data]="barChartData"
    [options]="barChartOptions"
    [plugins]="barChartPlugins"
    [legend]="barChartLegend"
    [type]="'bar'">
</canvas> -->

<!-- <canvas id="myChart" width="10px" height="10px"></canvas> -->
<div style="padding: 20px;">
  <div class="row">
    <div class="col-sm-6" style="border: 1px solid;">
      <div *ngIf="loginUser=='iva' || loginUser=='morth_manager'">
        <label for="state">Select State</label>
        <select  class="form-select" name="state" id="state">
          <option value="All" selected>All</option>
          <option *ngFor="let option of stateOpeions" [value]="option">{{option}}</option>
        </select>
      </div>

      <i class="fa fa-arrow-left" aria-hidden="true" style="cursor: pointer;"  *ngIf="isChartDrill && !isChartDril2" (click)="onChartEvent1($event, 'chartClick')">Back</i>
      <i class="fa fa-arrow-left" aria-hidden="true" style="cursor: pointer;"  *ngIf="isChartDrill && isChartDril2" (click)="onDrillChart11($event, 'chartClick')">Back</i>

      <div echarts [options]="chartOption" class="demo-chart" *ngIf="!isChartDrill" (chartClick)="onChartEvent1($event, 'chartClick')"></div>
      <div echarts [options]="chartOption11" class="demo-chart" *ngIf="isChartDrill && !isChartDril2" ></div>
      <div echarts [options]="chartOption111" class="demo-chart" *ngIf="isChartDril2" ></div>
      <div *ngIf="isChartDrill && !isChartDril2" style="float: right;margin-bottom: 10px;"><button class="btn btn-secondary" (click)="onDrillChart11($event, 'chartClick')" style="font-size: 18px;" *ngIf="isChartDrill">View monthly progress</button></div>
      

    </div>
    <div class="col-sm-6" style="border: 1px solid;">
      
      <div *ngIf="loginUser=='iva' || loginUser=='morth_manager'">
        <label for="state">Select State</label>
        <select  class="form-select" name="state" id="state">
          <option value="All" selected>All</option>
          <option *ngFor="let option of stateOpeions" [value]="option">{{option}}</option>
        </select>
      </div>
      <i class="fa fa-arrow-left" aria-hidden="true" style="cursor: pointer;"  *ngIf="isChartDrill21  && !isChartDril22" (click)="onChartEvent21($event, 'chartClick')">Back</i>
      <i class="fa fa-arrow-left" aria-hidden="true" style="cursor: pointer;"  *ngIf="isChartDrill21 && isChartDril22" (click)="onDrillChart21($event, 'chartClick')">Back</i>
      <div echarts [options]="chartOption2" class="demo-chart" *ngIf="!isChartDrill21" (chartClick)="onChartEvent21($event, 'chartClick')"></div>
      <div echarts [options]="chartOption21" class="demo-chart" *ngIf="isChartDrill21 && !isChartDril22" ></div>
      <div echarts [options]="chartOption211" class="demo-chart" *ngIf="isChartDril22" ></div>
      <div *ngIf="isChartDrill21 && !isChartDril22" style="float: right;margin-bottom: 10px;"><button class="btn btn-secondary" (click)="onDrillChart21($event, 'chartClick')" style="font-size: 18px;" *ngIf="isChartDrill21">View monthly progress</button></div>
    </div>

    <div class="col-sm-6" style="border: 1px solid;">
      <div *ngIf="loginUser=='iva' || loginUser=='morth_manager'">
        <label for="state">Select State</label>
        <select  class="form-select" name="state" id="state">
          <option value="All" selected>All</option>
          <option *ngFor="let option of stateOpeions" [value]="option">{{option}}</option>
        </select>
      </div>
      <i class="fa fa-arrow-left" aria-hidden="true" style="cursor: pointer;"  *ngIf="isChartDrill31 && !isChartDril33" (click)="onChartEvent31($event, 'chartClick')">Back</i>
      <i class="fa fa-arrow-left" aria-hidden="true" style="cursor: pointer;"  *ngIf="isChartDrill31 && isChartDril33" (click)="onDrillChart31($event, 'chartClick')">Back</i>
      <div echarts [options]="chartOption3" class="demo-chart" *ngIf="!isChartDrill31" (chartClick)="onChartEvent31($event, 'chartClick')"></div>
      <div echarts [options]="chartOption31" class="demo-chart" *ngIf="isChartDrill31 && !isChartDril33" ></div>
      <div echarts [options]="chartOption311" class="demo-chart" *ngIf="isChartDril33" ></div>
      <div *ngIf="isChartDrill31 && !isChartDril33" style="float: right;margin-bottom: 10px;"><button class="btn btn-secondary" (click)="onDrillChart31($event, 'chartClick')" style="font-size: 18px;" *ngIf="isChartDrill31">View monthly progress</button></div>
    </div>
    <div class="col-sm-6" style="border: 1px solid;">
      <div *ngIf="loginUser=='iva' || loginUser=='morth_manager'">
        <label for="state">Select State</label>
        <select  class="form-select" name="state" id="state">
          <option value="All" selected>All</option>
          <option *ngFor="let option of stateOpeions" [value]="option">{{option}}</option>
        </select>
      </div>
      <i class="fa fa-arrow-left" aria-hidden="true" style="cursor: pointer;"  *ngIf="isChartDrill41 && !isChartDril44" (click)="onChartEvent41($event, 'chartClick')">Back</i>
      <i class="fa fa-arrow-left" aria-hidden="true" style="cursor: pointer;"  *ngIf="isChartDrill41 && isChartDril44" (click)="onDrillChart41($event, 'chartClick')">Back</i>
      <div echarts [options]="chartOption4" class="demo-chart" *ngIf="!isChartDrill41" (chartClick)="onChartEvent41($event, 'chartClick')"></div>
      <div echarts [options]="chartOption41" class="demo-chart" *ngIf="isChartDrill41 && !isChartDril44" ></div>

      <div echarts [options]="chartOption411" class="demo-chart" *ngIf="isChartDril44" ></div>
      <div *ngIf="isChartDrill41 && !isChartDril44" style="float: right;margin-bottom: 10px;"><button class="btn btn-secondary" (click)="onDrillChart41($event, 'chartClick')" style="font-size: 18px;" *ngIf="isChartDrill41">View monthly progress</button></div>
    </div>

  </div>
  <div class="row">
    <div class="col-sm-12" style="border: 1px solid;">
      
      <div echarts [options]="chartOption5" class="demo-chart"></div>

    </div>
  </div>
</div>